@using CI_Platform.Areas.Admin.ViewModels
@model CrudViewModel
@{
    Layout = "AdminLayout";
}


<div class="crud-container mt-4 px-4">
    <h3 class="ms-2 mt-4">Banners</h3>

    <div class="d-flex justify-content-between mt-4">
        <div class="search-bar">
            <form class="d-flex my-2 my-lg-0">
                <button type="button" class="btn">
                    <img src="~/images/search.png" alt="search" />
                </button>
                <input id="banner-search-input"
                       class="form-control"
                       type="text"
                       placeholder="Search Banner"
                       aria-label="Search" />
            </form>
        </div>
        <div> <button type="button" class="btn add-btn" onclick="AddBannerModel()"> <img src="~/images/plus-lg.svg" />Add</button></div>
    </div>

    <div class=" ms-2 mt-4 row table-responsive">
        <table id="Banners-table" class="table">

            <thead>
                <tr>
                    <th>Banner Image</th>
                    <th>Text</th>
                    <th>SortOrder</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Banners)
                {
                    <tr id='banner-@item.BannerId'>
                        <td>@item.Image</td>
                        <td>@item.Text</td>
                        <td>@item.SortOrder</td>
                        <td>
                            <img src="/images/editing.png" onclick="AddBannerModel(@item.BannerId)" class="edbutton" alt="" />
                            <img src="~/images/bin.png" onclick="DeleteBanner(@item.BannerId)" class="ms-2 edbutton" alt="" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


