
@using CI_Platform.Areas.Admin.ViewModels
@{
    Layout = "AdminLayout";
}
@model CrudViewModel


        <div class="crud-container mt-4 px-2">
            <h3 class="ms-2 mt-4">Users</h3>

            <div class="d-flex justify-content-between mt-4">
                <div class="search-bar">
                    <form class="d-flex my-2 my-lg-0">
                            <button type="button" class="btn">
                                <img src="~/images/search.png" alt="search" />
                            </button>
                            <input id="search-input"
                                   class="form-control"
                                   type="text"
                                   placeholder="Search User"
                                   aria-label="Search"
                                    />
                        </form></div>
                        <div> <button type="button" class="btn add-btn" onclick="AddUserModal()"> <img src="~/images/plus-lg.svg"/>Add</button></div>
            </div>

               <div class="mt-4 row table-responsive">
                 <table id="Users-table" class="table">
                   
                         <thead>
                               <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Employee Id</th>
                        <th> Department </th>
                        <th> Status </th>
                        <th></th>
                    </tr>
                         </thead>
                           <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr id='user-@item.UserId'>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.EmployeeId</td>
                                    <td>@item.Department</td>
                                    
                                        @if(@item.Status == "1")
                                        {
                                        <td style="color:green;">Active</td>
                                    }
                                    else
                                    {
                                        <td style="color:orangered;">Inactive</td>
                                    }

                                    <td>
                                        <img src="/images/editing.png" class="edbutton" onclick="AddUserModal(@item.UserId)" alt="" />
                                        <img src="~/images/bin.png" onclick="DeleteUser(@item.UserId)" class="ms-2 edbutton" alt="" />
                                    </td>
                                </tr>
                            }

                    
                        </tbody>
                </table>
            </div>

            </div>
        
