@using CI_Platform.Areas.Admin.ViewModels
@model CrudViewModel
@{
    Layout = "AdminLayout";
}


<div class="crud-container mt-4 px-4">
    <h3 class="ms-2 mt-4">Mission Application</h3>

    <div class="d-flex justify-content-between mt-4">
        <div class="search-bar">
            <form class="d-flex my-2 my-lg-0">
                <button type="button" class="btn">
                    <img src="~/images/search.png" alt="search" />
                </button>
                <input id="mission-application-search-input"
                       class="form-control"
                       type="text"
                       placeholder="Search MissionApplication"
                       aria-label="Search" />
            </form>
        </div>

    </div>

    <div class=" ms-2 mt-4 row table-responsive">
        <table id="Missionapplication-table" class="table">

            <thead>
                <tr>
                    <th>Mission Title</th>
                    <th>Mission Id</th>
                    <th>User Id</th>
                    <th>User Name</th>
                    <th>Applied Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody class="missionapplications">
                @foreach (var item in Model.MissionApplications)
                {
                    <tr>
                        <td>@item.Mission.Title</td>
                        <td>@item.Mission.MissionId</td>
                        <td>@item.User.UserId</td>
                        <td>@item.User.FirstName @item.User.LastName</td>
                        <td>@item.AppliedAt.ToString().Substring(0,10)</td>
                        <td>

                            @if (item.ApprovalStatus == "APPROVE")
                            {
                                <i class="bi bi-check-circle-fill fs-5 text-success MA-@item.MissionApplicationId "></i>
                            }
                            else
                            {
                                <i class="bi bi-check-circle text-success fs-5 MA-@item.MissionApplicationId " onclick="MissionApplication(@item.MissionApplicationId,1)"></i>
                            }
                            &nbsp;
                            @if (item.ApprovalStatus == "DECLINE")
                            {
                                <i class="bi bi-x-circle-fill text-danger fs-5 MA-@item.MissionApplicationId"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-circle text-danger fs-5 MA-@item.MissionApplicationId" onclick="MissionApplication(@item.MissionApplicationId,2)"></i>
                            }


                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>


