@using CI_Platform.Areas.Admin.ViewModels
@model CrudViewModel
@{
    Layout = "AdminLayout";
}

<div class="crud-container mt-4 px-4">
    <h3 class="ms-2 mt-4">Mission Skills</h3>

    <div class="d-flex justify-content-between mt-4">
        <div class="search-bar">
            <form class="d-flex my-2 my-lg-0">
                <button type="button" class="btn">
                    <img src="~/images/search.png" alt="search" />
                </button>
                <input id="skill-search-input"
                       class="form-control"
                       type="text"
                       placeholder="Search Skills"
                       aria-label="Search" />
            </form>
        </div>
        <div> <button type="button" data-bs-toggle="modal" data-bs-target="#AddSkill" class="btn add-btn"> <img src="~/images/plus-lg.svg" />Add</button></div>
    </div>

    <div class=" ms-2 mt-4 row table-responsive">
        <table id="Missionskill-table" class="table">

            <thead>
                <tr>
                    <th>Skill Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="missionskills">
                @foreach (var item in Model.Skills)
                {
                    <tr id='skill-@item.SkillId'>
                        <td>@item.SkillName</td>
                        @if (@item.Status == 1)
                        {
                            <td style="color:green;">Active</td>
                        }
                        else
                        {
                            <td style="color:orangered;">Inactive</td>
                        }
                        <td>
                            <img src="/images/editing.png" data-bs-toggle="modal" data-bs-target="#EditSkill"
                             class="edbutton" onclick="EditSkill(@item.SkillId,'@item.SkillName',@item.Status)" alt="" />
                            <img src="~/images/bin.png" onclick="DeleteSkill(@item.SkillId)" class="ms-2 edbutton" alt="" />
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <input id="skill-id" type="hidden" />
</div>



