@using CI_Platform.Areas.Admin.ViewModels
@model CrudViewModel
@{
    Layout = "AdminLayout";
}


<div class="crud-container mt-4 px-4">
    <h3 class="ms-2 mt-4">Missions</h3>

    <div class="d-flex justify-content-between mt-4">
        <div class="search-bar">
            <form class="d-flex my-2 my-lg-0">
                <button type="button" class="btn">
                    <img src="~/images/search.png" alt="search" />
                </button>
                <input id="mission-search-input"
                       class="form-control"
                       type="text"
                       placeholder="Search Mission"
                       aria-label="Search" />
            </form>
        </div>
        <div> <button type="button" class="btn add-btn" onclick="AddMissionModel()"> <img src="~/images/plus-lg.svg" />Add</button></div>
    </div>

    <div class=" ms-2 mt-4 row table-responsive">
        <table id="Missions-table" class="table">

            <thead>
                <tr>
                    <th>Mission Title</th>
                    <th>Mission Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Missions)
                {
                    <tr id='mission-@item.MissionId'>
                        <td>@item.Title</td>
                        <td>@item.MissionType</td>
                        @if (@item.StartDate != null && @item.EndDate != null)
                        {
                            <td>@item.StartDate.ToString().Substring(0,10)</td>
                            <td>@item.EndDate.ToString().Substring(0,10)</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }

                        <td>
                            <img src="/images/editing.png" onclick="AddMissionModel(@item.MissionId)" class="edbutton" alt="" />
                            <img src="~/images/bin.png" onclick="DeleteMission(@item.MissionId)" class="ms-2 edbutton" alt="" />
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>


