@using CI_Platform.Areas.Admin.ViewModels
@model CrudViewModel
@{
    Layout = "AdminLayout";
}


<div class="crud-container mt-4 px-4">
    <input id="theme-id" type="hidden" />
    <h3 class="ms-2 mt-4">Mission Themes</h3>

    <div class="d-flex justify-content-between mt-4">
        <div class="search-bar">
            <form class="d-flex my-2 my-lg-0">
                <button type="button" class="btn">
                    <img src="~/images/search.png" alt="search" />
                </button>
                <input id="theme-search-input"
                       class="form-control"
                       type="text"
                       placeholder="Search Theme"
                       aria-label="Search" />
            </form>
        </div>
        <div> <button data-bs-toggle="modal" data-bs-target="#AddTheme" type="button" class="btn add-btn"> <img src="~/images/plus-lg.svg" />Add</button></div>
    </div>

    <div class=" ms-2 mt-4 row table-responsive">
        <table id="Missiontheme-table" class="table">

            <thead>
                <tr>
                    <th>Theme Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="missionThemes">
                @foreach (var item in Model.MissionThemes)
                {
                    <tr id='theme-@item.MissionThemeId'>
                        <td>@item.Title</td>
                        @if (@item.Status == 1)
                        {
                            <td style="color:green;">Active</td>
                        }
                        else
                        {
                            <td style="color:orangered;">Inactive</td>
                        }
                        <td>
                            <img src="/images/editing.png" data-bs-toggle="modal" data-bs-target="#EditTheme"
                             class="edbutton" onclick="EditTheme(@item.MissionThemeId,'@item.Title',@item.Status)" alt="" />
                            <img src="~/images/bin.png" onclick="DeleteTheme(@item.MissionThemeId)" class="ms-2 edbutton" alt="" />
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>


