@{
    Layout = "AdminLayout";
}
@using CI_Platform.Models.ViewModels
@using System.Security.Claims
@model StoryViewModel


        <div class="crud-container mt-4 px-4">

              <div class="container-fluid p-0">
        <div class="container-fluid grid-container">
            <div class="row">
                @* carousel starts*@
                <div class="col-lg-6">
                    <div class="images">

                        <div class="carousel slide" data-bs-interval="false" id="sub-images">
                            <div class="carousel-inner">
                                @{
                                    int count = 0;
                                    foreach (var item in Model?.Stories?.StoryMedia)
                                    {
                                        if (count == 0)
                                        {
                                            if (@item.Type == "img")
                                            {
                                                <img class="w-100 carousel-item active main-image" src='@item.Path' alt="" />
                                                count = count + 1;
                                            }
                                            else
                                            {
                                                <iframe src="//www.youtube.com/embed/@item.Path.Split("v=").ElementAt(1)" class="w-100 carousel-item active main-image" allowfullscreen></iframe>
                                                count = count + 1;
                                            }

                                        }
                                        else
                                        {
                                            if (@item.Type == "img")
                                            {
                                                <img class="w-100 carousel-item main-image" src='@item.Path' alt="" />
                                            }
                                            else
                                            {
                                                <iframe src="//www.youtube.com/embed/@item.Path.Split("v=").ElementAt(1)"
                                            class="w-100 carousel-item main-image" allowfullscreen></iframe>
                                            }
                                        }
                                    }
                                }
                            </div>
                            <div class="mt-1 w-100 position-relative">
                                <div class="carousel slide" data-bs-interval="false" id="other-images">
                                    <div class="carousel-inner">
                                        @{
                                            int sub_count = 4;
                                            int check = 0;
                                            int carousel_count = (int)Math.Ceiling((double)@Model?.Stories?.StoryMedia.Count / 4);
                                            for (var i = 0; i < carousel_count; i++)
                                            {
                                                if (check == 0)
                                                {
                                                    <div class="carousel-item active">
                                                        <div class="d-flex">
                                                            @if (@Model?.Stories?.StoryMedia.Count >= sub_count)
                                                            {
                                                                @for (int j = 0; j < sub_count; j++)
                                                                {
                                                                    if (j == 0)
                                                                    {
                                                                        if (@Model?.Stories?.StoryMedia.ElementAt(j).Type == "img")
                                                                        {
                                                                            <img src='@Model?.Stories?.StoryMedia.ElementAt(j).Path'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src='https://img.youtube.com/vi/@Model?.Stories?.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (@Model?.Stories?.StoryMedia.ElementAt(j).Type == "img")
                                                                        {
                                                                            <img src='@Model?.Stories?.StoryMedia.ElementAt(j).Path'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src='https://img.youtube.com/vi/@Model?.Stories?.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @for (int j = 0; j < @Model?.Stories?.StoryMedia.Count; j++)
                                                                {
                                                                    if (@Model?.Stories?.StoryMedia.ElementAt(j).Type == "img")
                                                                    {
                                                                        <img src='@Model?.Stories?.StoryMedia.ElementAt(j).Path'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src='https://img.youtube.com/vi/@Model?.Stories?.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                    }
                                                                }}
                                                        </div>
                                                    </div>
                                                    check = check + 4;
                                                }
                                                else
                                                {
                                                    <div class="carousel-item">
                                                        <div class="d-flex">
                                                            @if (@Model?.Stories?.StoryMedia.Count - (4 * i) >= sub_count)
                                                            {
                                                                @for (int j = check; j < sub_count + check; j++)
                                                                {
                                                                    if (@Model?.Stories?.StoryMedia.ElementAt(j).Type == "img")
                                                                    {
                                                                        <img src='@Model?.Stories?.StoryMedia.ElementAt(j).Path'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src='https://img.youtube.com/vi/@Model?.Stories?.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                    }
                                                                } }
                                                            else
                                                            {
                                                                @for (int j = check; j < @Model?.Stories?.StoryMedia.Count; j++)
                                                                {
                                                                    if (@Model?.Stories?.StoryMedia.ElementAt(j).Type == "img")
                                                                    {
                                                                        <img src='@Model?.Stories?.StoryMedia.ElementAt(j).Path' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src='https://img.youtube.com/vi/@Model?.Stories?.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg'
                                                         data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                                    }

                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    check = check + 4;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-prev" data-bs-target="#other-images" data-bs-slide="prev">
                                        <img src="~/images/left1.png" class="w-50" alt="not load" />
                                    </div>

                                    <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-next" style="left:98%;" data-bs-target="#other-images" data-bs-slide="next">
                                        <img src="~/images/right-arrow2.png" class="w-50" alt="not load" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="description col-lg-6">
                    <div class="px-3 mt-5 ms-3 d-flex justify-content-between">
                        <span class="d-flex flex-column align-items-center">
                            <img class="rounded-circle" src=@Model.Stories.User.Avatar />
                            <span class="mt-2 lorem ps-3">@Model.Stories.User.FirstName @Model.Stories.User.LastName</span>
                        </span>
                      
                    </div>
                    <div class="ms-3 mt-5 lorem px-3 vol-reason">
                        @foreach (var line in Model.Stories.User.WhyIVolunteer.Split('.'))
                        {
                            <p class="lorem">@line.Trim() </p>

                            <br />
                        }
                    </div>
                    <div class="px-3 ms-3 d-flex justify-content-between">
                        @{if(@Model.Stories.Status == "PUBLISHED") {
                            <button class="btn publish-btn disabled" onclick="ChangeStoryStatus(@Model.Stories.StoryId,1)">Published<i class="bi bi-check-circle text-success fs-5 story-@Model.Stories.StoryId ms-2" onclick="ChangeStoryStatus(@Model.Stories.StoryId,1)"></i></button>
                        }
                        else {
                            <button class="btn publish-btn" onclick="ChangeStoryStatus(@Model.Stories.StoryId,1)">Publish <i class="bi bi-check-circle text-success fs-5 story-@Model.Stories.StoryId ms-2" onclick="ChangeStoryStatus(@Model.Stories.StoryId,1)"></i></button>
                        } }
                       @{ if(@Model.Stories.Status == "DECLINED") {
                         <button class="btn decline-btn disabled" onclick="ChangeStoryStatus(@Model.Stories.StoryId,2)">Declined <i class="bi bi-x-circle text-danger fs-5 story-@Model.Stories.StoryId ms-2" ></i></button>
                        }
                        else {
                        <button class="btn decline-btn" onclick="ChangeStoryStatus(@Model.Stories.StoryId,2)">Decline <i class="bi bi-x-circle text-danger fs-5 story-@Model.Stories.StoryId ms-2" ></i></button>
                        }
                        }
                        <button class="btn delete-btn" onclick="DeleteStory(@Model.Stories.StoryId,3)">Delete <i class="bi bi-trash text-danger fs-5 ms-2"></i></button>
                        
                    </div>

                </div>
            </div>
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active " data-bs-toggle="tab" data-bs-target="#tab-1" type="button"
                            role="tab" aria-controls="home" aria-selected="true">
                        <span class="storytitle">@Model.Stories.Title</span>
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                    @Html.Raw(@Model.Stories.Description )
                </div>

            </div>

        </div> @*container-fluid*@
    </div>
            </div>
        

        



  