@using CI_Platform.Models.ViewModels
@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StoryViewModel>
 @foreach (var story in Model)
            {
                 <div class="col-12 col-md-6 col-lg-4">              
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src=@story.Image.Path alt="Card image cap">
                
                 <div class="middle">
                      <a asp-action = "StoryDetail" asp-route-id="@story?.Stories?.StoryId"  class="btn" id="view-details-button">View Details <span>
                        <img src="~/images/right-arrow.png" />
                          </span></a>
                </div>
                
                <button class="mission-theme border-0">
                    <span class="p-2">@story.Story_theme</span>
                </button>
                </div>
                <div class="card-body">
                  <h4 class="mission-title">@story.Stories?.Title</h4>
                  <div class="story-desc" >
                    <p class="card-text">@Html.Raw(@story.Stories?.Description)</p>
                  </div>
                  
                  <div class="d-flex justify-content-between"> 
                      <div>
                          <img class="volunteer-image" src=@story.User_avatar />
                      <span class="vol-name">@story.User_firstname @story.User_lastname </span>
                      </div>
                      
                    @{
                        if(@story?.Stories?.Status=="DRAFT"&&@story.Stories.UserId==long.Parse(User.Claims.FirstOrDefault(c=>c.Type == ClaimTypes.Sid).Value))
                        {
                            <button data-bs-toggle="modal" id="edit-story" onclick="editor(@story.Stories.StoryId,@story.Stories.PublishedAt.ToString().Substring(0,10)); DRopzone(@story.Stories.StoryId);" data-bs-target="#edit-@story.Stories.StoryId" class="applyButton btn">Edit</button>
                        }   
                }
                  </div>
                </div>
              </div>
            </div> @*col-12 col-md-6 col-lg-4*@   
             }