@using CI_Platform.Models.ViewModels
@using System.Security.Claims
@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    int pageCount = (int)ViewData["PageCount"];
    int currentPage = (int)ViewData["CurrentPage"];
}
@model List<StoryViewModel>
@foreach (var story in Model)
{
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="img-event">
                <img class="card-img-top" src=@story.Image.Path alt="Card image cap">

                <div class="middle">
                    <a asp-action="StoryDetail" asp-route-id="@story?.Stories?.StoryId" class="btn" id="view-details-button">
                        View Details <span>
                            <img src="~/images/right-arrow.png" />
                        </span>
                    </a>
                </div>

                <button class="mission-theme border-0">
                    <span class="p-2">@story.Story_theme</span>
                </button>
            </div>
            <div class="card-body">
                <h4 class="mission-title">@story.Stories?.Title</h4>
                <div class="story-desc">
                    <p class="card-text">@Html.Raw(@story.Stories?.Description)</p>
                </div>
                    
                <div class="d-flex justify-content-between">
                    <div>
                        <img class="volunteer-image" src=@story.User_avatar />
                        <span class="vol-name">@story.User_firstname @story.User_lastname </span>
                    </div>

                    @{
                        if (@story?.Stories?.Status == "DRAFT" && @story.Stories.UserId == long.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid).Value))
                        {
                            <button data-bs-toggle="modal" id="edit-story" onclick="editor(@story.Stories.StoryId,@story.Stories.PublishedAt.ToString().Substring(0,10)); DRopzone(@story.Stories.StoryId);" data-bs-target="#edit-@story.Stories.StoryId" class="applyButton btn">Edit</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div> @*col-12 col-md-6 col-lg-4*@
}

@*Pagination*@
<nav aria-label="Page navigation" class="pagination-link">
    @{
        int pageSize = 3;
    }
    <ul class="pagination justify-content-center">
        <li class="page-item @if (@currentPage <= 1) {
                @Html.Raw("disabled")
; }">
            <button class="page-link" onclick="StoryPagination(@currentPage - 1,@pageSize)"">Previous</button>
        </li>
        @for (int i = 1; i <= @pageCount; i++)
        {
            <li class="page-item @(i == @currentPage ? "active" : "")">
                <button class="page-link" onclick="StoryPagination(@i,@pageSize)">@i</button>
            </li>
        }
        <li class="page-item @if (@currentPage >= @pageCount) {
                @Html.Raw("disabled")
; }">
            <button class="page-link" onclick="StoryPagination(@currentPage + 1,@pageSize)">Next</button>
        </li>
    </ul>
</nav>





@{
            foreach (var item in Model)
            {

                if (item.Stories.UserId == long.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid).Value) && @item.Stories.Status == "DRAFT")
                {

                    <div class="modal fade" id="edit-@item.Stories.StoryId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        @foreach (var urls in item.Images)
                        {
                            <input type="hidden" value="@urls.Path" class="imageurl" data-story-id="@item.Stories.StoryId">
                        }
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Edit Your Saved Story</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="page-1">
                                        <select class="form-select" aria-label="Select mission">
                                            <option value=@item.MissionId selected>@item.Missiontitle</option>
                                        </select>
                                        <div class=" mt-2">
                                            <label class="form-label">My Story Title</label>
                                            <input class="form-control story_title" value="@item.Stories.Title" type="text" placeholder="Enter Story Title" />
                                        </div>
                                        <div class="mt-2 w-100">
                                            <label class="form-label">Select Date</label>
                                            @{
                                                string dateStr = @item.Stories.CreatedAt.ToString();
                                                DateTime date = DateTime.ParseExact(dateStr, "dd-MM-yyyy HH:mm:ss", CultureInfo.InvariantCulture);
                                                string formattedDate = date.ToString("yyyy-MM-dd");
                                                <input class="form-control" type="date" min=@DateTime.Now.ToString("yyyy-MM-dd") max=@DateTime.Now.ToString("yyyy-MM-dd") id="publish_date" placeholder="Select Date" value="@formattedDate">
                                            }

                                        </div>

                                        @*ckeditor*@
                                        <div class="ck-editor w-100 mt-3">
                                            <label class="form-label">My Story</label>
                                            <textarea class="form-control" rows=8 id="editor-@item.Stories.StoryId">@item.Stories.Description</textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <div class=" w-100 mt-4">
                                            <label class="form-label">Enter Youtube video urls</label>
                                            <textarea rows="3" class="form-control video-url" type="url" placeholder="Enter Your URL">
                                                @foreach (var url in item.Vidmedia)
                                                {
                                                    @url.Path
                                                    @Html.Raw('\n')
                                                }
                                                        </textarea>
                                        </div>

                                        <div class="row mt-3">
                                        <label for="mediadropzone mb-2" >Story Media</label><span class="text-danger mediarequired">*Required</span>
                                            <div class="dropzone d-flex flex-row" id="myDropzone-@item.Stories.StoryId">
                                                <div id="imagePreview" class="dz-preview">
                                                    <div id="previewTemplate" class="preview-container mr-3">
                                                        <button type="button" class="btn-remove" style="display:none" data-dz-remove>
                                                            <img src="/images/cross.png" />
                                                        </button>
                                                        <img class="preview" data-dz-thumbnail />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn applyButton" data-bs-dismiss="modal">Close</button>
                                    <a  href="/Story/StoryDetail/@item.Stories.StoryId" target="_blank" class="btn preview-link" style="display:none;">Preview</a>
                                    <button onclick="editstory('DRAFT',@item.Stories.StoryId,@item.MissionId)" class="submitbtn me-2">Save</button>
                                    <button onclick="editstory('PUBLISHED',@item.Stories.StoryId,@item.MissionId)" class="submitbtn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }