@using CI_Platform.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StoryViewModel>
 @foreach (var story in Model)
            {
                 <div class="col-12 col-md-6 col-lg-4">              
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src=@story.image.Path alt="Card image cap">
                
                 <div class="middle">
                    <button class="btn" id="view-details-button">View Details <span>
                        <img src="~/images/right-arrow.png" />
                    </span></button>
                </div>
                
                <button class="mission-theme border-0">
                    <span class="p-2">@story.Stories?.Mission.Theme.Title</span>
                </button>
                </div>
                <div class="card-body">
                  <h4 class="mission-title">@story.Stories?.Title</h4>
                  <p class="card-text">@Html.Raw(@story.Stories?.Description)</p>
                  <div class="d-flex"> 
                      <img class="volunteer-image" src=@story.Stories?.User.Avatar />
                      <p class="vol-name">@story.Stories?.User.FirstName @story.Stories?.User.LastName </p>
                  </div>
                </div>
              </div>
            </div> @*col-12 col-md-6 col-lg-4*@   
             }