@using CI_Platform.Models.ViewModels
@using System.Security.Claims

@model TimesheetViewModel

   <div class="container">
    <h4 class="my-5">
        Volunteering Timesheet
    </h4>

    <div class="row justify-content-between mt-4" style="height:400px;">
        <div class="timesheet-box h-100 col-lg-6 px-4">
            <div class="d-flex justify-content-between  align-items-center  mt-4">
                <span>Volunteering Hours</span>
                <button data-bs-toggle="modal" data-bs-target="#time" class="btn applybutton d-flex justify-content-between align-items-center" ><img src="~/images/add.png" class="me-2" style="height:13px;"/><span>Add</span></button>
            </div>
            <div class="mt-4 row table-responsive">
                 <table id="TimeTimesheet" class="table table-borderless">
                     <thead>    <tr>
                        <th>Mission</th>
                        <th>Date</th>
                        <th>Hours</th>
                        <th>Minutes</th>
                        <th> </th>
                    </tr></thead>
                     <tbody class="time-timesheets">
                
                    @{
                        foreach(var item in Model.Timesheets)
                        {
                            if (item.Action is null)
                            {
                                <tr id='timesheet-@item.TimesheetId'>
                                <td>@item.Mission.Title.ToString().Substring(0,15)</td>
                                <td>@item.DateVolunteered.ToString("dd-MM-yyyy")</td>
                                <td>@item.Time.ToString().Substring(0,2)</td>
                                <td>@item.Time.ToString().Substring(3,5)</td>
                                <td>
                                <img data-bs-toggle="modal" data-bs-target="#time"
                                onclick="edittimesheet(@item.TimesheetId,@item.MissionId,
                                        '@item.Time.ToString().Substring(0,2)','@item.Time.ToString().Substring(3,5)','@item.Notes','time',0,'@item.DateVolunteered.ToString("yyyy-MM-dd")')" 
                                src="~/images/editing.png" class="edbutton" alt=""/>
                                        <img src="~/images/bin.png" onclick="deletetimesheet(@item.TimesheetId)"
                                        class="ms-2 edbutton" alt="" />
                                        </td>
                                        
                                        
                               </tr>
                            }
                        }
                        }
                        </tbody>
                </table>
            </div>


        </div>
        <div class="timesheet-box h-100 col-lg-6 px-4">
             <div class="d-flex justify-content-between align-items-center mt-4">
                <span>Volunteering Goals</span>
                <button data-bs-toggle="modal" data-bs-target="#goal" class="btn d-flex applybutton justify-content-between align-items-center"><img src="~/images/add.png" class="me-2" style="height:13px;"/><span>Add</span></button>
            </div>
            <div class="mt-4 row goal-table table-responsive">
                <table id="GoalTimesheet" class="table table-borderless">
                    <thead>
                        <tr>
                        <th>Mission</th>
                        <th>Date</th>
                        <th>Action</th>
                        <th></th>
                    </tr></thead>
                    <tbody class="goal-timesheets">

                    @{
                        foreach(var item in Model.Timesheets)
                        {
                            if (item.Action is not null)
                            {
                                <tr id='timesheet-@item.TimesheetId'>
                                <td>@item.Mission.Title.ToString().Substring(0,15)</td>
                                <td>@item.DateVolunteered.ToString("dd-MM-yyyy")</td>
                                <td>@item.Action</td><td>
                                <img onclick="edittimesheet(@item.TimesheetId,@item.MissionId,0,0,'@item.Notes','goal','@item.Action','@item.DateVolunteered.ToString("yyyy-MM-dd")')"
                                data-bs-toggle="modal" data-bs-target="#goal" src="~/images/editing.png" class="edbutton" alt=""/>
                                        <img src="~/images/bin.png" onclick="deletetimesheet(@item.TimesheetId)"
                                        class="ms-2 edbutton" alt="" /></td>
                                        </tr>
                            }
                        }
                        }
                        </tbody>
                </table>
                    
</div>
</div>
</div>
</div>

   @foreach(var date in Model.Missions)
                                    {
                                        <input type="hidden" id="mission-@date.Mission_id-startdate" value='@date.StartDate?.ToString("yyyy-MM-dd")'>
                                        <input type="hidden" id="mission-@date.Mission_id-enddate" value='@date.EndDate?.ToString("yyyy-MM-dd")'>
                                    }
@*Modals*@

<div class="modal fade" id="time" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Please Enter Below Volunteering Hours</h5>
      </div>
      <div class="modal-body">
       <div class="mission">
           <label class="form-label mt-3">Mission</label>
           <select class="form-select time-mission me-3" aria-label="Select Mission">
  <option value=0 disabled  selected>Select Your Mission</option>
                        @{
                            foreach (var item in Model.Missions)
                            {
                                if (@item.Mission_type == "TIME")
                                {
                                    <option value=@item.Mission_id id=@item.Mission_id>@item.Title</option>
                                }
      }
  }
  
  </select>

  <span class="text-danger d-none time-mission-empty">Mission Required</span>
       </div>
       <div>
           <label class="form-label mt-3">Date Volunteered</label>
            <input type="date" max=@DateTime.Now.ToString("dd/MM/yyyy") id="dateOfTimeStory" class="form-control time-date"/>
            <span class="text-danger d-none time-date-empty">Date Required</span>
            <span class="text-danger d-none time-date-invalid">Invalid Date input (must be between mission's start date and end date</span>
       </div>
       <div class="d-flex justify-content-between w-100">
           <div style="width:48%;">
           <label class="form-label mt-3">Hours</label>
            <input type="number" placeholder="Enter Spent Hours"  class="form-control time-hours" />
            <span class="text-danger d-none time-hours-valid">Enter Valid Hours</span>
            </div>
            <div style="width:48%;">
           <label class="form-label mt-3">Minutes</label>
            <input type="number" placeholder="Enter Spent Minutes" class="form-control time-min"/>
            <span class="text-danger d-none time-min-valid">Enter Valid mins</span>
            </div>
       </div>
       <div>
           <label class="form-label mt-3">Message</label>
            <textarea class="form-control time-message" rows=5 placeholder="Enter Your Message"></textarea>
            <span class="text-danger d-none time-message-empty">Message Required</span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn applybutton" onclick="clear_modal('time')" data-bs-dismiss="modal">Cancel</button>
        <button type="button" onclick="timedata()" class="btn applybutton">Submit</button>
      </div>
    </div>
  </div>
</div>


@*for goal*@

<div class="modal fade" id="goal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Please Enter Below Volunteering Goal</h5>
      </div>
      <div class="modal-body">
       <div class="mission">
           <label class="form-label mt-3">Mission</label>
           <select class="form-select me-3" id="mission_goal" aria-label="Select Mission">
  <option disabled value=0 selected>Select Your Mission</option>
                        @{
                             foreach (var item in Model.Missions)
                            {
                                if (@item.Mission_type == "GO")
                                {
                                    <option value='mission_id-@item.Mission_id goal_object-@item.Goal_object' id='mission-@item.Mission_id'>@item.Title</option>
                                }
      }
  }
  </select>
  <span class="text-danger d-none goal-mission">Select Mission first</span>
       </div>
         <div>
           <label class="form-label mt-3">Actions</label>
            <input type="number" id="action" placeholder="Enter Actions"   class="form-control" />
            <span class="text-danger d-none action-empty">Actions Required</span>
            <span class="text-danger d-none action-notvalid">Enter Valid Action</span>
       </div>
       <div>
           <label class="form-label mt-3">Date Volunteered</label>
            <input type="date" id="goal-date" max=@DateTime.Now.ToString("dd/MM/yyyy")  class="form-control"/>
            <span class="text-danger d-none date-empty">Date Required</span>
       </div>
       <div>
           <label class="form-label mt-3">Message</label>
            <textarea class="form-control" id="goal-message" rows=5  placeholder="Enter Your Message"></textarea>
            <span class="text-danger d-none message-empty">Message Required</span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn applybutton" onclick="clear_modal('goal')" data-bs-dismiss="modal">Cancel</button>
        <button type="button" onclick="goaldata()" class="btn applybutton">Submit</button>
      </div>
    </div>
  </div>
</div>
 <input id="timesheet-id" type="hidden" />           
    
  
 
 
  
  @section Scripts {
          <script src="~/js/timesheet.js"></script>
    }


