@using CI_Platform.Models.ViewModels
@using System.Security.Claims
@using System.Globalization

@model List<StoryViewModel>


    <div class="container-fluid p-0">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <form class="d-flex my-2 my-lg-0">
                            <button type="button" class="btn">
                                <img src="~/images/search.png" alt="search" />
                            </button>
                            <input id="search-input" onkeyup="search()"
                                   class="form-control"
                                   type="text"
                                   placeholder="Search mission ..."
                                   aria-label="Search"
                                   style="border:none;" />
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle" type="button" id="countryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Country <img src="~/images/drop-down.png" class="mx-2">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="countryDropdown">
                            @foreach (var country in ViewBag.CountryList)
                            {
                                <div id="country">
                                    <input type="checkbox" id="@country.Text" data-id="@country.Value" class="form-check-input" onchange="Countryfilter('@country.Text','@country.Value')" data-value="@country.Text">
                                    <label for="@country.Text">@country.Text</label>
                                </div>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle" type="button" id="cityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            City <img src="~/images/drop-down.png" class="mx-2">
                        </button>
                        <div class="dropdown-menu city" aria-labelledby="cityDropdown">
                            @foreach (var city in ViewBag.CityList)
                            {
                                <div>
                                    <input type="checkbox" id="@city.Text" class="form-check-input" onchange="Cityfilter('@city.Text')" data-value="@city.Text">
                                    <label for="@city.Text">@city.Text</label>
                                </div>
                            }

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle" type="button" id="themeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Theme <img src="~/images/drop-down.png" class="mx-2">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="themeDropdown">
                            @foreach (var theme in ViewBag.ThemeList)
                            {
                                <div class="theme">
                                    <input type="checkbox" id="@theme.Text" class="form-check-input" onchange="Themefilter('@theme.Text')" data-value="@theme.Text">
                                    <label for="@theme.Text">@theme.Text</label>
                                </div>
                            }
                        </div>


                    </li>
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle" type="button" id="skillDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Skills <img src="~/images/drop-down.png" class="mx-2">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="skillDropdown">
                            @foreach (var skill in ViewBag.SkillList)
                            {
                                <div class="skill">
                                    <input type="checkbox" id="@skill.Text" class="form-check-input" onchange="Skillfilter('@skill.Text')" data-value="@skill.Text">
                                    <label for="@skill.Text">@skill.Text</label>
                                </div>
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn" id="clear-all-btn">Clear All</button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Selected items row -->
        <div class="container mb-2">
            <div id="selected-items-row">
            </div>
        </div>
        <div class="container-fluid story-header-img d-flex align-items-center justify-content-center flex-column">
            <p class=story-lorem>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor
                incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
            <div class="mt-2"> <a asp-controller="Story" asp-action="ShareStory" class="btn story-button"> Share your Story <img src="~/images/right-arrow.png" /></a></div>
        </div>

        @* stories*@
        <div class="container-fluid story-container">
            <div class="row Stories">
                <partial name="~/Views/Shared/_stories.cshtml" />

            </div> @*row*@
        </div> @*container-fluid grid-container*@*@*@


            @* no story found*@
        <div class="page-not-found text-center" style="display:none;">
            <h4 class="pt-2">No Story found</h4>
            <div class="d-flex justify-content-center mt-4">
                <button class="apply-btn btn" style="width:auto">
                    Submit new story <img src="~/images/right-arrow.png" alt="">
                </button>
            </div>
        </div>
        @*Pagination*@
        <nav aria-label="Page navigation" class="pagination-link">
            @{
                int pageSize = 6;
            }
            <ul class="pagination justify-content-center">
                <li class="page-item @if (ViewBag.CurrentPage <= 1) {
                @Html.Raw("disabled")
; }">
                    <a class="page-link" href="@Url.Action("Story", "Story", new { page = ViewBag.CurrentPage - 1, pageSize = pageSize })">Previous</a>
                </li>
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Story", "Story", new { page = i, pageSize = pageSize })">@i</a>
                    </li>
                }
                <li class="page-item @if (ViewBag.CurrentPage >= ViewBag.PageCount) {
                @Html.Raw("disabled")
; }">
                    <a class="page-link" href="@Url.Action("Story", "Story", new { page = ViewBag.CurrentPage + 1, pageSize = pageSize })">Next</a>
                </li>
            </ul>
        </nav>

        @{
            foreach (var item in Model)
            {

                if (item.Stories.UserId == long.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid).Value) && @item.Stories.Status == "DRAFT")
                {

                    <div class="modal fade" id="edit-@item.Stories.StoryId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        @foreach (var urls in item.Images)
                        {
                            <input type="hidden" value="@urls.Path" class="imageurl" data-story-id="@item.Stories.StoryId">
                        }
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Edit Your Saved Story</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="page-1">
                                        <select class="form-select" aria-label="Select mission">
                                            <option value=@item.MissionId selected>@item.Missiontitle</option>
                                        </select>
                                        <div class=" mt-2">
                                            <label class="form-label">My Story Title</label>
                                            <input class="form-control story_title" value="@item.Stories.Title" type="text" placeholder="Enter Story Title" />
                                        </div>
                                        <div class="mt-2 w-100">
                                            <label class="form-label">Select Date</label>
                                            @{
                                                string dateStr = @item.Stories.CreatedAt.ToString();
                                                DateTime date = DateTime.ParseExact(dateStr, "dd-MM-yyyy HH:mm:ss", CultureInfo.InvariantCulture);
                                                string formattedDate = date.ToString("yyyy-MM-dd");
                                                <input class="form-control" type="date" id="publish_date" placeholder="Select Date" value="@formattedDate">
                                            }

                                        </div>

                                        @*ckeditor*@
                                        <div class="ck-editor w-100 mt-3">
                                            <label class="form-label">My Story</label>
                                            <textarea class="form-control" rows=8 id="editor-@item.Stories.StoryId">@item.Stories.Description</textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <div class=" w-100 mt-4">
                                            <label class="form-label">Enter Youtube video urls</label>
                                            <textarea rows="3" class="form-control video-url" type="url" placeholder="Enter Your URL">
                                                @foreach (var url in item.Vidmedia)
                                                {
                                                    @url.Path
                                                    @Html.Raw('\n')
                                                }
                                                        </textarea>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="dropzone d-flex flex-row" id="myDropzone-@item.Stories.StoryId">
                                                <div id="imagePreview" class="dz-preview">
                                                    <div id="previewTemplate" class="preview-container mr-3">
                                                        <button type="button" class="btn-remove" style="display:none" data-dz-remove>
                                                            <img src="~/images/cross.png" />
                                                        </button>
                                                        <img class="preview" data-dz-thumbnail />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn applyButton" data-bs-dismiss="modal">Close</button>
                                    <a asp-action="StoryDetail" asp-route-id="@item.Stories.StoryId" target="_blank" class="btn preview-link" style="display:none">Preview</a>
                                    <button onclick="editstory('DRAFT',@item.Stories.StoryId,@item.MissionId)" class="submitbtn me-2">Save</button>
                                    <button onclick="editstory('PUBLISHED',@item.Stories.StoryId,@item.MissionId)" class="submitbtn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </div>@* container-fluid p-0*@

          @section Scripts {
          <script src="~/js/storypage.js"></script>
    }